<section class="flex pt-20 flex-col ">
    <h2 class="text-5xl font-extrabold">Conctact</h2> 
  

  <div class="flex gap-3 pt-10">

    <div class="flex flex-col justify-between w-1/2 border-[1px] border-gray-800 p-[50px] ">
        <p class="pr-10 text-[16px] text-gray-300">
          Always open to discussing product design work or partnership opportunities. If you have a project or collaboration in mind, let's chat. Also available for freelance work.
        </p>
  
        <p  class="text-[14px] text-gray-300 ">Find me on <a class="tracking-widest font-extrabold text-white space-x-5" href="/">LINKEDIN</a> </p>
      </div>
 
   <div class="flex flex-col gap-3 w-1/2">
    
       <div class="flex gap-3">
           <input class="flex-1 p-4 " type="text" placeholder="NAME" />
           <input class="flex-1 p-4" type="email" placeholder="EMAIL" />
         </div>
       
         <div class="flex flex-col gap-3 ">
           <input  class=" p-4" type="text" placeholder="SUBJECT" />
           <input  class=" p-4" type="text" placeholder="MESSAGE" />
       
           <input class=" bg-black p-4" type="submit" value="SEND" />
         </div>
     </div>
   </div>   
  
</section>
