<header class="fixed top-[30px] h-[100px] inset-x-0  z-50 transition-all duration-300 ease-in-out shadow-sm">
  <div class="p-4 backdrop-filter backdrop-blur-lg">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-3 flex justify-between items-center">

      <div> 
        <a href="#" class="open-to-work font-bold text-sm border-cyan-300 rounded-lg border-2 p-1 pl-3 pr-3">Open to work</a>
      </div>

      <div class="flex gap-5">
        <a href="#" class="navigation text-xl text-gray-200  font-bold hover:text-cyan-300 transition-all duration-200 ease-in-out ml-auto">Home</a>
        <a href="#" class="navigation text-xl text-gray-200 font-bold hover:text-cyan-300 transition-all duration-200 ease-in-out">Project</a>
        <a href="#" class="navigation text-xl text-gray-200 font-bold hover:text-cyan-300 transition-all duration-200 ease-in-out">About</a>
        <a href="#" class="navigation text-xl text-gray-200 font-bold hover:text-cyan-300 transition-all duration-200 ease-in-out mr-auto">Contact</a>
      </div>
    </nav>
  </div>
</header>

<script>
  window.addEventListener('scroll', () => {
    const navigations = document.querySelectorAll('.navigation');

    navigations.forEach(navigation => {
      if (navigation instanceof HTMLElement) {
        navigation.style.color = window.scrollY > 20 ? 'cyan' : 'white';
      }
    });

    const header = document.querySelector('.fixed');
    if (header instanceof HTMLElement) {
      header.style.top = window.scrollY > 20 ? '0px' : '30px';
    }
  });
</script>
